<div class="flex justify-between gap-5">
    <div class="border-2 px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-10/12 flex items-center">
        <input type="text" placeholder="Detalle Nombre o DNI" class="h-full w-full outline-none">
        <p-button class="w-[30px] text-center"><fa-icon [icon]="['fas', 'search']" class="text-base"></fa-icon></p-button>
    </div>
    <div class="w-2/12">
        <p-button class="bg-qaliGreen text-qaliBlue text-xl font-sans font-bold flex justify-center items-center W-full h-full rounded-md pb-0.5">Buscar</p-button>
    </div>
</div>
<div class="mt-10">
    <p-table [value]="examplevalues" [tableStyle]="{'min-width': '60rem'}" class="ptable-clean border-spacing-y-10 border-separate">
        <ng-template pTemplate="header">
            <tr class="bg-[#132B5B8F] text-white text-base font-sans font-bold">
                <th pSortableColumn="apellidos" class="w-[18%] text-center rounded-tl-lg rounded-bl-lg py-2">APELLIDOS <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="nombres" class="w-[18%] text-center py-2">NOMBRES <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="dni" class="w-[18%] text-center py-2">DNI <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="celular" class="w-[18%] text-center py-2">CELULAR <p-sortIcon field="quantity"></p-sortIcon></th>
                <th pSortableColumn="celular" class="w-[18%] text-center py-2">FECHA DE CITA <p-sortIcon field="quantity"></p-sortIcon></th>
                <th class="w-[18%] text-center rounded-tr-lg rounded-br-lg py-2">HISTORIA CLÍNICA</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-value>
            <tr>
                <td class="py-2"></td>
                <td class="py-2"></td>
            </tr>
            <tr class="bg-[#0FFFA933] hover:bg-qaliBlue hover:text-qaliGreen hover:[&>]:text-qaliGreen group text-[#144FC7]" *ngIf="value">
                <td class="text-center text-ellipsis overflow-hidden whitespace-nowrap rounded-tl-lg rounded-bl-lg h-[45px] px-4 text-xl font-bold underline">{{value.apellidos}}</td>
                <td class="text-center text-ellipsis overflow-hidden whitespace-nowrap h-[45px] px-4 text-xl font-bold underline">{{value.nombres}}</td>
                <td class="text-center text-ellipsis overflow-hidden whitespace-nowrap h-[45px] px-4 text-xl font-bold">{{value.dni}}</td>
                <td class="text-center text-ellipsis overflow-hidden whitespace-nowrap h-[45px] px-4 text-xl font-bold">{{value.celular}} <fa-icon [icon]="['fab', 'whatsapp']" class="text-3xl ml-1"></fa-icon></td>
                <td class="text-center text-ellipsis overflow-hidden whitespace-nowrap h-[45px] px-4 text-xl font-bold">07/04/2023</td>
                <td class="h-[45px] px-4 rounded-tr-lg rounded-br-lg">
                    <div class="flex justify-center items-center w-full">
                        <p-button class="bg-[#132B5B] group-hover:bg-qaliGreen group-hover:text-qaliBlue text-white font-bold text-xl rounded-lg w-[150px] text-center h-[40px]" routerLink="historia-clinica">AGENDAR</p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-value>
            <tr>
                <td class="py-2"></td>
                <td class="py-2"></td>
            </tr>
            <tr class="bg-[#0FFFA933] hover:bg-qaliBlue hover:text-qaliGreen hover:[&>]:text-qaliGreen group text-[#144FC7]">
                <td class="text-center text-[#969696] text-ellipsis overflow-hidden whitespace-nowrap h-[45px] px-4 text-xl font-bold" colspan="5">No se encontro cliente registrado</td>
                <td class="h-[45px] px-4 rounded-tr-lg rounded-br-lg">
                    <div class="flex justify-center items-center w-full">
                        <p-button class="bg-[#132B5B] group-hover:bg-qaliGreen group-hover:text-qaliBlue text-white font-bold text-xl rounded-lg w-[150px] text-center h-[40px]" (click)="modalCrearCita()">AGENDAR</p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
