<div class="sidebar flex justify-center items-start h-full w-full">
  <nav class="mt-8 w-full">
    <ul class="flex flex-col gap-20 text-white">
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="resumen" class="text-xl font-extrabold font-sans">Resumen</a>
      </li>
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active">
        <a routerLink="miperfil" class="text-xl font-extrabold font-sans">Mi Perfil</a>
      </li>
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active">
        <a routerLink="clientes" class="text-xl font-extrabold font-sans">Clientes</a>
      </li>
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active">
        <a routerLink="horario" class="text-xl font-extrabold font-sans">Mi Horario</a>
      </li>
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active">
        <a routerLink="ingresos" class="text-xl font-extrabold font-sans">Ingresos</a>
      </li>
      <li class="flex justify-center items-center w-full hover:text-qaliGreen" routerLinkActive="active">
        <a routerLink="ajustes" class="text-xl font-extrabold font-san hover:text-qaliGreen">Ajustes</a>
      </li>
    </ul>
  </nav>
</div>
