<div class="sidebar flex justify-center items-start h-full">
  <nav class="mt-8">
    <ul class="flex flex-col gap-20 text-white">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="resumen" class="text-lg">Resumen</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="miperfil" class="text-lg">Mi Perfil</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="clientes" class="text-lg">Clientes</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="horario" class="text-lg">Mi Horario</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="ingresos" class="text-lg">Ingresos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="ajustes" class="text-lg">Ajustes</a>
      </li>
    </ul>
  </nav>
</div>
