<div class="header flex justify-between items-center h-full">
  <div class="flex justify-center item-center w-[188px]">
    <img src="https://media.discordapp.net/attachments/1107828744804122664/1109682491339591762/image.png" alt="Mi Aplicación" class="h-12 w-16" />
  </div>
  <a href="#" class="text-white w-1/5 font-extrabold text-xl uppercase cursor-pointer flex justify-center">
    <p class="hover:bg-[#0FFFA926]  w-fit px-5 rounded-5 duration-200">Ir a <span class="text-qaliGreen">Q</span>al<span class="text-qaliGreen lowercase">i</span></p>
  </a>
  <a href="#" class="text-white w-1/5 font-extrabold text-xl uppercase cursor-pointer flex justify-center">
    <p class="hover:bg-[#0FFFA926]  w-fit px-5 rounded-5 duration-200">Crear Cita</p>
  </a>
  <a href="#" class="text-white w-1/5 font-extrabold text-xl uppercase cursor-pointer flex justify-center">
    <p class="hover:bg-[#0FFFA926]  w-fit px-5 rounded-5 duration-200">Soporte</p>
  </a>
  <a href="#" class="text-white w-1/5 font-extrabold text-xl uppercase cursor-pointer flex justify-center">
    <p class="hover:bg-[#0FFFA926]  w-fit px-5 rounded-5 duration-200 flex items-center gap-3"><fa-icon [icon]="['fas', 'phone']" class="text-qaliGreen"></fa-icon> Dr. Pepe Perez</p>
  </a>
</div>
