<div class="header flex justify-between items-center h-full">
  <div class="flex justify-center item-center w-[188px]">
    <img src="https://media.discordapp.net/attachments/1107828744804122664/1109682491339591762/image.png" alt="Mi Aplicación" class="h-12 w-16" />
  </div>
  <p class="text-white w-1/5 font-extrabold text-xl uppercase">Ir a <span class="text-qaliGreen">Q</span>al<span class="text-qaliGreen lowercase">i</span></p>
  <p class="text-white w-1/5">Crear Cita</p>
  <p class="text-white w-1/5">Soporte</p>
  <p class="text-white w-1/5">Dr. Pepe Perez</p>
</div>
