<div>
    <div class="flex items-center justify-center gap-5">
        <div class="flex flex-col justify-center items-center">
            <span class="font-bold text-[15px] text-qaliBlue">LUNES</span>
            <div class="flex justify-start items-center gap-3 h-[38px]">
                <p-checkbox class="checkbox-rounded" [binary]="true" inputId="binary"></p-checkbox>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="font-bold text-[15px] text-qaliBlue">MARTES</span>
            <div class="flex justify-start items-center gap-3 h-[38px]">
                <p-checkbox class="checkbox-rounded" [binary]="true" inputId="binary"></p-checkbox>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="font-bold text-[15px] text-qaliBlue">MIERCOLES</span>
            <div class="flex justify-start items-center gap-3 h-[38px]">
                <p-checkbox class="checkbox-rounded" [binary]="true" inputId="binary"></p-checkbox>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="font-bold text-[15px] text-qaliBlue">JUEVES</span>
            <div class="flex justify-start items-center gap-3 h-[38px]">
                <p-checkbox class="checkbox-rounded" [binary]="true" inputId="binary"></p-checkbox>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <span class="font-bold text-[15px] text-qaliBlue">VIERNES</span>
            <div class="flex justify-start items-center gap-3 h-[38px]">
                <p-checkbox class="checkbox-rounded" [binary]="true" inputId="binary"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="flex justify-center gap-5 -mb-5 mt-10">
        <button class="text-xl text-qaliGreen font-extrabold" (click)="cerrarmodal()">Cancelar</button>
        <button class="text-xl text-qaliGreen font-extrabold" (click)="cerrarmodal()">Guardar</button>
    </div>
</div>
