<div class="py-10 px-5">
    <div class="flex justify-between items-center">
        <div class="w-[150px]">
            <button class="h-[45px] flex items-center justify-between bg-qaliGreen rounded-lg text-lg font-extrabold text-qaliBlue w-full px-4" routerLink="/dashboard/clientes"><img src="assets/icons/double-arrow-left.svg" alt=""> VOLVER</button>
        </div>
        <h2 class="text-[28px] font-extrabold text-qaliBlue font-sans underline flex justify-center w-[90%]">HISTORIA CLÍNICA</h2>
    </div>
    <div class="w-1/2 mt-10">
        <h2 class="text-[28px] font-extrabold text-qaliBlue font-sans underline flex justify-center w-[90%]">FEDERICO RUIZ MEDINA</h2>
    </div>
    <div class="flex justify-between mt-10">
        <div class="w-1/2">
            <h2 class="text-[28px] font-extrabold text-[#D4D6E4] font-sans flex justify-center w-[90%] leading-none">DATOS PERSONALES</h2>
            <div class="flex flex-col gap-3 mt-5">
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">Edad</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">SEXO</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">ALERGIAS</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">ANTECEDENTES FAMILIARES</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">ENFERMEDADES</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">CALIDAD DE SUEÑO</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">PESO</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">TALLA</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">SEXO</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">HIDRATACIÓN</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">ALIMENTACIÓN</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg">
                    <label for="" class="font-extrabold text-xl font-sans text-qaliBlue uppercase">CIRUGIAS</label>
                    <input type="text" class="px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none h-[40px] w-[100px] rounded-lg mt-1 text-center" placeholder="30">
                </div>
            </div>
            <h2 class="text-[28px] font-extrabold text-[#D4D6E4] font-sans flex justify-center w-[90%] mt-10">ANTECEDENTES</h2>
            <div class="flex flex-col gap-3 mt-5">
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg"></div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg"></div>
                <div class="flex justify-between items-center bg-[#0FFFA933] h-[60px] w-full px-4 rounded-lg"></div>
            </div>
            <h2 class="text-[28px] font-extrabold text-[#D4D6E4] font-sans flex justify-center w-[90%] mt-10">CITAS</h2>
        </div>
        <div class="w-1/2">
            <div class="flex justify-center">
                <div class="w-2/3 bg-qaliBlue flex flex-col items-center justify-center gap-3 pb-5 rounded-md">
                    <h2 class="text-xl font-extrabold font-sans text-center w-full text-qaliGreen mt-3">ENFERMEDADES</h2>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">DIABETES</p>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">HIPERTENSIÓN</p>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">JAQUECA</p>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                </div>
            </div>
            <div class="flex justify-center mt-10">
                <div class="w-2/3 bg-qaliBlue flex flex-col items-center justify-center gap-3 pb-5 rounded-md">
                    <h2 class="text-xl font-extrabold font-sans text-center w-full text-qaliGreen mt-3">ALERGIAS</h2>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">SULFAS</p>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">MARISCOS</p>
                    <p class="bg-[#D9D9D982] w-3/4 text-center rounded-lg py-1 text-white font-extrabold text-xl">MANÍ</p>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                    <span class="text-qaliGreen"><fa-icon [icon]="['fas', 'circle']"></fa-icon></span>
                </div>
            </div>
        </div>
    </div>
</div>
