<div class="flex">
    <div class="w-full lg:w-1/2 h-screen bg-qaliBlue">
        <div class="flex items-center justify-center h-full">
            <div class="w-full lg:w-[400px] h-full lg:h-auto bg-white p-10 rounded-lg">
                <div class="flex justify-center">
                    <div class="w-[130px] h-[130px] bg-qaliBlue rounded-full flex items-center justify-center shadow-lg">
                        <img src="assets/images/qali-logo.png" alt="">
                    </div>
                </div>
                <form action="" class="mt-5 flex justify-center">
                    <div class="w-full flex flex-col gap-5">
                        <div>
                            <label for="" class="w-full block text-xl text-qaliBlue font-extrabold">Email</label>
                            <input type="text" placeholder="email@email.com" class="border-2 px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full">
                        </div>
                        <div>
                            <label for="" class="w-full block text-xl text-qaliBlue font-extrabold">Password</label>
                            <div class="border-2 px-2 text-lg font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full flex items-center">
                                <input type="password" placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;" class="h-full w-full outline-none">
                                <p-button class="w-[30px] text-center"><fa-icon [icon]="['fas', 'eye']" class="text-base"></fa-icon></p-button>
                            </div>
                        </div>
                        <p-button class="h-[45px] w-full text-center border font-bold text-xl rounded-lg border-qaliBlue uppercase mt-7 duration-200 hover:bg-qaliBlue hover:text-white" (onClick)="login()">Inciar Sesión</p-button>
                        <p-button class="w-full text-center -mt-3">Has olvidado tu contraseña?</p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-[4px] h-screen flex items-center justify-center">
      <span class="block w-full h-1/2 bg-white rounded-full"></span>
    </div>
    <div class="w-full lg:w-1/2 h-screen">
      <div class="flex items-center justify-center h-full">
          <div class="w-full lg:w-[500px] h-full lg:h-auto bg-white p-10 rounded-lg">
                <p class="w-full block text-lg text-qaliBlue font-extrabold">No te encuentras registrado aun?</p>
                <p>Crea una cuenta ahora!</p>
                <button class="h-[45px] w-full text-center border font-bold text-xl rounded-lg border-qaliBlue uppercase mt-7 duration-200 hover:bg-qaliBlue hover:text-white" (onClick)="login()">Registrarme</button>
                <div *ngIf="false">
                    <div class="flex justify-center">
                        <div class="w-[90px] h-[90px] bg-qaliBlue rounded-full flex items-center justify-center shadow-lg">
                            <img src="assets/images/qali-logo.png" alt="">
                        </div>
                    </div>
                    <form action="" class="mt-5 flex justify-center">
                        <div class="w-[90%] flex flex-col gap-5">
                            <div class="grid grid-cols-2 gap-3">
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Nombre</label>
                                    <input type="text" placeholder="email@email.com" class="border-2 px-2 text-base font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full">
                                </div>
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Apellido</label>
                                    <input type="text" placeholder="email@email.com" class="border-2 px-2 text-base font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-3">
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Email</label>
                                    <input type="text" placeholder="email@email.com" class="border-2 px-2 text-base font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full">
                                </div>
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Telefono</label>
                                    <input type="text" placeholder="email@email.com" class="border-2 px-2 text-base font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-3">
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Especialidad</label>
                                    <div class="h-[45px] border-2 border-[#00000082] bg-white outline-none w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-lg font-sans font-extrabold text-qaliBlue flex items-center">
                                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Elige una opción" optionLabel="value" class="dropdown-clean dropdown-autoheight dropdown-style2 w-full"></p-dropdown>
                                    </div>
                                </div>
                                <div>
                                    <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Ciudad</label>
                                    <div class="h-[45px] border-2 border-[#00000082] bg-white outline-none w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-lg font-sans font-extrabold text-qaliBlue flex items-center">
                                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Elige una opción" optionLabel="value" class="dropdown-clean dropdown-autoheight dropdown-style2 w-full"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="" class="w-full block text-lg text-qaliBlue font-extrabold">Password</label>
                                <div class="border-2 px-2 text-base font-bold text-qaliBlue duration-200 font-sans outline-none hover:border-qaliBlue focus:border-qaliBlue border-[#00000082] h-[45px] rounded-lg mt-1 w-full flex items-center">
                                    <input type="password" placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;" class="h-full w-full outline-none">
                                    <p-button class="w-[30px] text-center"><fa-icon [icon]="['fas', 'eye']" class="text-base"></fa-icon></p-button>
                                </div>
                            </div>
                            <p-button class="h-[45px] w-full text-center border font-bold text-xl rounded-lg border-qaliBlue uppercase mt-7 duration-200 hover:bg-qaliBlue hover:text-white" (onClick)="login()">Registrarme</p-button>
                        </div>
                    </form>
                </div>
          </div>
      </div>
  </div>
</div>



<!--
<div class="card">
  <div class="grid">
    <div class="col-5 flex align-items-center justify-content-center">
      <div class="p-fluid">
        <div class="field">
          <label for="email">Email</label>
          <input pInputText id="email" type="text" />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input pInputText id="password" type="password" />
        </div>
        <p-button label="Inciar Sesión" (onClick)="login()"></p-button>
      </div>
    </div>
    <div class="col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="col-5 flex align-items-center justify-content-center">
      <p-button
        label="Sign Up"
        icon="pi pi-user-plus"
        styleClass="p-button-success"
      ></p-button>
    </div>
  </div>
</div>
-->
