<div>
    <h2 class="text-2xl text-qaliGreen font-extrabold absolute top-[30px]">Sumar experiencia Profesional</h2>
    <div class="flex justify-end">
        <span class="flex items-start gap-1 font-bold text-black text-sm"><p class="text-[#CF1818]">*</p>Campos obligatorios</span>
    </div>
    <div class="mt-10">
        <div class="">
            <label for="" class="text-[13px] font-extrabold flex items-start gap-1">Empresa <p class="text-[#CF1818]">*</p></label>
            <input type="text" class="border border-[#00000082] bg-[#0FFFA921] h-[29px] w-[171px] mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-[13px] px-2 font-sans font-extrabold text-qaliBlue" placeholder="Ingresa el nombre">
        </div>
        <div class="flex justify-between items-center gap-10 mt-4">
            <div class="">
                <label for="" class="text-[13px] font-extrabold flex items-start gap-1">País <p class="text-[#CF1818]">*</p></label>
                <input type="text" class="border border-[#00000082] bg-[#0FFFA921] h-[29px] w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-[13px] px-2 font-sans font-extrabold text-qaliBlue" placeholder="Ingresa el nombre">
            </div>
            <div class="">
                <label for="" class="text-[13px] font-extrabold flex items-start gap-1">Fecha de inicio <p class="text-[#CF1818]">*</p></label>
                <div class="flex items-center gap-3">
                    <input type="text" class="border border-[#00000082] bg-[#0FFFA921] h-[29px] w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-[13px] px-2 font-sans font-extrabold text-qaliBlue" placeholder="Ingresa el nombre">
                    <input type="text" class="border border-[#00000082] bg-[#0FFFA921] h-[29px] w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-[13px] px-2 font-sans font-extrabold text-qaliBlue" placeholder="Ingresa el nombre">
                </div>
            </div>
            <div class="">
                <label for="" class="text-[13px] font-extrabold flex items-start gap-1">Fecha de finalización <p class="text-[#CF1818]">*</p></label>
                <input type="text" class="border border-[#00000082] bg-[#0FFFA921] h-[29px] w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-[13px] px-2 font-sans font-extrabold text-qaliBlue" placeholder="Ingresa el nombre">
            </div>
        </div>
        <div class="flex flex-col justify-center items-center mt-5">
            <h2 class="font-extrabold text-[13px] flex items-center gap-1">Descripción de Responsabilidades <p class="text-[#CF1818]">*</p></h2>
            <textarea name="" [value]="123" class="px-2 py-2 border border-black rounded-[8px] mt-2 h-[81px] placeholder:text-lg placeholder:text-qaliGrey w-[407px] placeholder:font-bold placeholder:text-[12px] text-[12px] font-bold" placeholder="Escribe cuáles son tus tareas" id=""></textarea>
        </div>
    </div>
    <div class="flex justify-center gap-5 -mb-5 mt-5">
        <button class="text-[15px] text-qaliGreen font-extrabold" (click)="cerrarmodal()">Cancelar</button>
        <button class="text-[15px] text-qaliGreen font-extrabold" (click)="cerrarmodal()">Guardar</button>
    </div>
</div>
