<div>
    <div class="flex items-center justify-center gap-5">
        <input type="text" class="border-2 border-[#00000082] bg-[#0FFFA921] h-[45px] outline-none w-full mt-1 rounded-5 placeholder:text-qaliGrey placeholder:font-extrabold text-lg px-2 font-sans font-extrabold text-qaliBlue">
    </div>
    <div class="flex justify-center gap-5 -mb-5 mt-10">
        <button class="text-xl text-qaliGreen font-extrabold" (click)="cerrarmodal()">Cancelar</button>
        <button class="text-xl text-qaliGreen font-extrabold" (click)="cerrarmodal()">Guardar</button>
    </div>
</div>
