/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



:root {
  --font-family: "Raleway", sans-serif;
}


body {
  font-family: var(--font-family);
  background-color: white;
}


/*
PRIMENG
*/

.checkbox-rounded {
  .p-checkbox-box {
    border-radius: 100% !important;
    border: 5px solid #132B5B;

  }
  .p-checkbox-box.p-highlight {
    border-color: #132B5B;
    background: #0FFFA9;
  }

  .p-checkbox .p-checkbox-box .p-icon {
    width: 2px;
    height: 2px;
    color: #0FFFA9 !important;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #132B5B;
    background: #0FFFA9;
  }

}

.dropdown-autoheight {
  .p-dropdown, .p-multiselect {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .p-dropdown-label, .p-multiselect-label {
    font-size: 17px;
    font-weight: bold;
  }
}

.dropdown-style1, .dropdown-style2{
  .p-dropdown-trigger, .p-multiselect-trigger {
    position: relative;
    .p-icon-wrapper {
      svg {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 12px;
      background-image: url("assets/images/dropdown-icon.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.dropdown-style2 {
  .p-dropdown-trigger, .p-multiselect-trigger {
    &::before {
      background-image: url("assets/images/Polygon-7.png");
    }
  }
}

.dropdown-clean {
  .p-dropdown, .p-multiselect {
    border: inherit;
    background-color: inherit;

    &:not(.p-disabled).p-focus {
      box-shadow: inherit;
      border-color: inherit;
    }
  }
}

.pcalendar-clean {
  .p-calendar {
    height: 100%;
  }
  .p-inputtext {
    height: 100%;
    border: none;
    font-weight: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: inherit;
    width: inherit;
    color: inherit;
    background-color: inherit;
    &:focus {
      box-shadow: none;
    }
  }
}

.pcalendar-style1 {
  position: relative;

  .p-calendar {
    &::before {
      content: "";
      position: absolute;
      top: 16px;
      right: 0;
      width: 20px;
      height: 12px;
      background-image: url("assets/images/dropdown-icon.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}


p-button {
  .p-button {
    width: inherit;
    height: inherit;
    background-color: inherit;
    color: inherit;
    padding: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    display: block;
    font-size: inherit;
    border-radius: inherit;
    border: inherit;
    text-transform: inherit;

    &:enabled:hover,&:enabled:active {
      background: none;
      color: inherit;
      border-color: inherit;
    }


    &:focus {
      box-shadow: none;
    }
  }
}

.ptable-clean {

  th {
    color: inherit !important;
    background: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;

    &:focus {
      box-shadow: none !important;
    }

    .p-sortable-column-icon {
      color: inherit !important;
    }
  }

  td {
    padding: inherit;
  }
}


* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #132B5B;
  }
}
